*{
    font-family: 'sans-serif';
}

body{
    background-color: #323232
}

footer{
    background-color: #101010;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #ff5400;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-discord {
    flex-shrink: 0;
    margin: 8px;
    padding: 12px 15px;
    transition: 0.1s;
    background-color: rgba(88, 101, 242, 0.2);
    border-radius: 100%;
    text-decoration: none;
}

i{
    font-size: 40px;
    color: #ff4020;
}

.separador {
    width: 100%; 
    height: 1px; 
    background-color: #6d6d6d; 
    margin: 0 auto; 
}

.login-user, .login-password, .signup-user, .signup-password{
    box-shadow: inset 0 0 0 2px #3d3d3d;
    caret-color: #fff;
    caret-shape: block;
    text-indent: 20px;
    color: #fff;
}

.login-user:hover, .login-password:hover, .signup-user:hover, .signup-password:hover{
    box-shadow: inset 0 0 0 2px #ff5400;
}

input:focus{
    border: none;
    outline: 1px solid #ff5400;;
    caret-color: auto;
}



button{
    background-image: linear-gradient(to right, #84170D, #A14320);
}
